{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="middle-container">
			<div class="profile">
				<img id="profile-img" src="{{ url_for('static', filename='img/myimage_circle.png') }}" alt="">
				<h2>Hello.</h2>
				<p>I am a software developer, with good knowledge of backend and workable knowledge of front end.
					I love python and it's vast universe of frameworks and related tech' domains. I love spending time on making projects on python and related stuff.
				</p>
			</div>
			<hr>
			<div class="skills">
				<h2>My Skills.</h2>
				<div class="skill-row">
				  <img class="mountain-img" src="{{ url_for('static', filename='img/python.png') }}" alt="">
				  <h3>Python</h3>
				  <p>I am an <strong>Infosys Certified Python Programmer and Associate </strong>, and is very well versed with it and its related frameworks.</p>
				</div>
				<div class="skill-row">
				  <img class="computer-img" src="{{ url_for('static', filename='img/content.png') }}" alt="">
				  <h3>Other Skills</h3>
				  <p>My other skills and certifications all are: <br> <strong>Selenium, Numpy, Pandas, Matplotlib, HTML, CSS, Turtle, TKinter, Flask, SQL, RDBMS</strong> etc. Check Resume and LinkedIn to know more.</p>
				</div>
				<br>
				<h3>Some of my Certifications and Badges: </h3>
				<img src="{{ url_for('static', filename='img/hackerrank.jpg') }}"  style="width:800px; height:400px; margin-bottom:10px;">
				<br>
				<img src="{{ url_for('static', filename='img/certifications.jpg') }}" style="width:800px; height:400px; margin:10px 10px;">
			</div>
			<hr>
			<div class="contact-me">
				<h2>Get In Touch</h2>

				<p id="contact-para" >More updates on me are coming soon on this <a class="website" href="https://gauravchandsingh.w3spaces.com/">Website</a>. Here I will be giving information about my projects and other stuffs.
				<br><br> Till then if Feel to connect! then Connect with me on the below platforms. <br>
				</p>
				<a class="btn" href="https://www.linkedin.com/in/gaurav-chand-singh-848811180/">#Linked In</a>
			</div>
		</div>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}